    
<footer class="p-4 bg-white md:p-8 lg:p-10 dark:bg-gray-800">
    <div class="mx-auto max-w-screen-xl text-center">
        <a href="https://github.com/nshoemake/community-tree" class="flex justify-center items-center text-2xl font-semibold text-gray-900 dark:text-white">
            <img class="mr-3 h-8" src="/imgs/logo.png" alt="logo">
            Community Tree    
        </a>
        <p class="my-6 text-gray-500 dark:text-gray-400">Create communities, community initiatives, vote on them and your see data populate in real-time!</p>
        <ul class="flex flex-wrap justify-center items-center mb-6 text-gray-900 dark:text-white">
            <li>
                <a href="https://twitter.com/nshoemake_" class="mr-4 hover:underline md:mr-6 ">
                    <ion-icon class="text-3xl" name="logo-twitter"></ion-icon>
                </a>
            </li>
            <li>
                <a href="https://github.com/nshoemake" class="mr-4 hover:underline md:mr-6">
                    <ion-icon class="text-3xl" name="logo-github"></ion-icon>
                </a>
            </li>
            <li>
                <a href="https://nshoemake.me" class="mr-4 hover:underline md:mr-6 ">
                    <ion-icon class="text-3xl" name="code-slash-outline"></ion-icon>
                </a>
            </li>
            <li>
                <a href="https://linkedin.com/in/nshoemake" class="mr-4 hover:underline md:mr-6">
                    <ion-icon class="text-3xl" name="logo-linkedin"></ion-icon>
                </a>
            </li>
        </ul>
        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">
            © 
            <script>document.write(new Date().getFullYear())</script> 
            <a href="https://nshoemake.me" class="hover:underline">nshoemake</a>. 
            All Rights Reserved.
        </span>
    </div>
  </footer>
    <script src="/js/main.js"></script>
    <script src="/js/buildChart.js"></script>
    <script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>
</html>